html
    head
        title= title
        link(rel='stylesheet' href='/css/style.css' , type="text/css")
    body
        //Name of the file : tables.pug
        label= "Current standings:"
            ol
                each element in standings
                    li= element
        script.
            setTimeout(function(){location=''},15000)



